
@model ConvenienceStoreOrderService.Models.ViewModels.ProductSearchCriteria
@{
    ViewBag.Title = "List";
}

<h2>商品列表</h2>
@Html.ValidationSummary()
@if (TempData["ErrorMessage"] != null)
{
    <div style="color:red;">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div style="color:green;">
        @TempData["SuccessMessage"]
    </div>
}

@using (Html.BeginForm("List", "Products", FormMethod.Get))
{
    <div>
        關鍵字：
        @Html.TextBoxFor(m => m.ProductKeyword)
    </div>
    <div>
        最低價格：
        @Html.TextBoxFor(m => m.MinPrice)
    </div>

    <div>
        最高價格：
        @Html.TextBoxFor(m => m.MaxPrice)
    </div>
    <div>
        上架狀態：
        @Html.DropDownListFor(
            m => m.IsActive,
            Model.IsActiveOptions,
            "請選擇上架狀態"
        )
    </div>

    <button type="submit">搜尋</button>
}

<hr />

<table>
    <thead>
        <tr>
            <th>商品名稱</th>
            <th>價格</th>
            <th>購買數量</th>
             <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                @using (Html.BeginForm("PlaceOrder", "Orders", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("ProductId", item.ProductId)

                    // 先寫死測試用
                    @Html.Hidden("BuyerUserId", 1)
                    @Html.Hidden("SellerUserId", 2)
                    @Html.Hidden("PaymentMethod", 1)

                    <td>
                        <input type="number"
                               name="Quantity"
                               value="1"
                               min="1" />
                    </td>

                    <td>
                        <button type="submit">立即下單</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
