@model List<ConvenienceStoreOrderService.Models.ViewModels.OrderViewModel>
<h2>訂單資訊</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>訂單來源</th>
            <th>付款方式</th>
            <th>建立時間</th>
            <th>運費</th>
            <th>訂單總金額</th>
            <th>取消原因</th>
            <th>訂單狀態</th>
            <th>操作</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNo</td>
                <td>@order.OrderSource</td>
                <td>@order.PaymentMethod</td>
                <td>@order.CreatedAt</td>
                <td>@order.ShippingFee</td>
                <td>@order.OrderTotal</td>
                <td>@order.CancelReason</td>
                <td>@order.OrderStatusName</td>
                <td>
                    @using (Html.BeginForm("GetShipCode", "Orders", FormMethod.Post))
                    {
                        @Html.Hidden("orderId", order.OrderId)
                        <input type="text"
                               name="RecipientName"
                               placeholder="收件人姓名"
                               class="form-control"
                               required
                               oninvalid="this.setCustomValidity('欄位必填')"
                               oninput="this.setCustomValidity('')"/>
                        <input type="text"
                               name="RecipientPhone"
                               placeholder="收件人電話"
                               class="form-control"
                               required 
                               oninvalid="this.setCustomValidity('欄位必填')"
                               oninput="this.setCustomValidity('')"/>
                        <input type="text"
                               name="PickupStore"
                               placeholder="取貨門市"
                               class="form-control"
                               required
                               oninvalid="this.setCustomValidity('欄位必填')"
                               oninput="this.setCustomValidity('')"/>

                        <input type="text"
                               name="SenderName"
                               placeholder="寄件人姓名"
                               class="form-control"
                               required 
                               oninvalid="this.setCustomValidity('欄位必填')"
                               oninput="this.setCustomValidity('')"/>

                        <input type="text"
                               name="SenderPhone"
                               placeholder="寄件人電話"
                               class="form-control"
                               required
                               oninvalid="this.setCustomValidity('欄位必填')"
                               oninput="this.setCustomValidity('')"/>

                        <input type="text"
                               name="ReturnStore"
                               placeholder="退貨門市"
                               class="form-control"
                               required 
                               oninvalid="this.setCustomValidity('欄位必填')"
                               oninput="this.setCustomValidity('')"/>

                        <button type="submit" class="btn btn-primary">
                            取得寄件代碼
                        </button>
                    }
                    @using (Html.BeginForm("MarkShipped", "Orders", FormMethod.Post))
                    {
                        @Html.Hidden("orderId", order.OrderId)
                        <button type="submit" class="btn btn-warning">
                            改為已出貨
                        </button>
                    }
                    @using (Html.BeginForm("Cancel", "Orders", FormMethod.Post))
                    {
                        @Html.Hidden("orderId", order.OrderId)
                        <input type="text"
                               name="cancelReason"
                               placeholder="請輸入取消原因"
                               class="form-control"
                               required
                               oninvalid="this.setCustomValidity('取消原因必填')"
                               oninput="this.setCustomValidity('')" />

                        <button type="submit" class="btn btn-danger">
                            取消訂單
                        </button>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
